body {
  margin: 0;
}
.navbar {
  display: grid;
  align-items: center;
  background-color: #f2f2f2;
  grid-template-columns: auto 50px;
  position: relative;
  padding-right: 16px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-self: center;
}

.nav-link {
  color: black;
  text-decoration: none;
  line-height: 44px;
  display: block;
  padding: 0 16px;
}

.navbar-toggler {
  display: none;
  height: 44px;
  width: 44px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar {
    /* grid-template-columns: 40px 50px; */
    justify-content: space-between;
  }

  .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: block;
    padding: 8px;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  #navbar-nav {
    display: none;
  }

  #navbar-nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}



.home_bg_image {
  background-image: url(img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
}

.homeContainer {
  height: 700px;
  background-image: linear-gradient(to right, rgb(255, 76, 195), orange);
}

.demoDetail {
  margin: auto 60px !important;
  padding: 20px 30px;
  width: 40%;
  background-color: rgb(255, 76, 195, 0.5);
  color: white;
  font-family: sans-serif;
  align-items: center;
}

.demoDetail h1 {
  font-size: 50px;
}

.orderContainer {
  /* height: 1000px; */
  background-image: linear-gradient(to right, rgb(255, 76, 195), orange);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.orderTitle {
  color: white;
  text-align: center;
}

.orderButton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 15px 35px;
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
  border-radius: 30px;
}

.orderCrousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.orderItem {
  margin: 15px 15px;
  background-color: white;
  text-align: center;
  padding: 20px 20px;
  max-width: 250px;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.orderItemImage {
  width: 250px;
  height: 250px;
  border: none;
  border-top-right-radius: 50px;
}
